<h1>Reset Password</h1>

<%= form_for @user, url: password_reset_path(params[:token]) do |f| %>

  <%= render 'errors', obj: @user %>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Password", class: "btn btn-primary" %>
  </div>
<% end %>